// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.image-caption {
  text-align: center;
  font-size: .8rem;
  color: black;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

.acks {
  margin-top: $spacing-unit;
  text-align: left;
  color: $brand-color-faded;
}
